.form-action1 {
  display: flex;
  align-items: center;
}

.form-action1 a,
.form-action1 input[type="submit"] {
  flex: 1; /* Grow to fill available space */
  margin: 5px; /* Add margin for spacing */
  padding: 5px; /* Add padding for space inside the box */
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline from the link */
  color: #333; /* Set text color */
  margin-left: 12%;
}

.form-action1 input[type="submit"] {
  background-color: #FEC917; /* Yellow button background */
  color: #333; /* Button text color */
  border: none; /* Remove border for the button */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.form-action1 input[type="submit"]:hover,
.form-action1 a:hover {
  background-color: #fc9803; /* Darker yellow on hover */
}
