/* App.css */

/* Navbar styles */
.navbar {
  background-color: #3498db;
  color: #fff;
  padding: 15px;
  display: flex;
}

.navbar-brand {
  font-size: 30px;
}

.navbar a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}

/* Content styles */
.content-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

/* Apply margin to the content to avoid overlapping with the fixed navbar */
.content {
  flex-grow: 1;
}
